<body class="demo">
<div class="container">
    <h1>Cols</h1>

    <h2>The same size cols</h2>
    <div class="cols">
        <% for (var i = 1; i <= 12;  i++ ) { %>
            <div class="col col-1">col-1</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 6;  i++ ) { %>
            <div class="col col-2">col-2</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 4;  i++ ) { %>
            <div class="col col-3">col-3</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 3;  i++ ) { %>
            <div class="col col-4">col-4</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 2;  i++ ) { %>
            <div class="col col-6">col-6</div>
        <% } %>
    </div>

    <h2>col tablet up</h2>
    <div class="cols">
        <div class="col col-6 col-8-desktop-up">col-6 col-4-tablet-up col-8-desktop-up</div>
        <div class="col col-6 col-4-desktop-up">col-6 col-8-tablet-up col-4-desktop-up</div>
    </div>
    <h2>push & pull</h2>
    <div class="cols">
        <div class="col col-6 push-1-desktop-up">col-6 push-1-desktop-up</div>
        <div class="col col-6 pull-2-desktop-up">col-6 pull-2-desktop-up</div>
    </div>
    <div class="cols">
        <div class="col col-6 col-6-tablet-up">col tablet up</div>
        <div class="col col-6 col-6-desktop-up">col tablet up</div>
    </div>
    <div class="cols">
        <div class="col col-6 col-3-tablet-up">col 3 tablet up</div>
        <div class="col col-6 col-3-tablet-landscape-up">col-3-tablet-landscape-up</div>
    </div>
</div>
</body>
