<body>
<div class="container">
    <h1>Cols - the CSS grid</h1>
    <h2>col tablet up</h2>
    <div class="cols">
        <div class="col col-6-tablet-up">col 6 tablet up</div>
        <div class="col col-6-tablet-up">col 6 tablet up</div>
    </div>
    <div class="cols">
        <div class="col col-6">col 6</div>
        <div class="col col-6">col 6</div>
    </div>
    <div class="cols">
        <div class="col col-6 col-3-tablet-up">col 3 tablet up</div>
        <div class="col col-6 col-9-tablet-up">col 9 tablet up</div>
    </div>

    <h2>The same size cols</h2>
    <div class="cols">
        <% for (var i = 1; i <= 12;  i++ ) { %>
            <div class="col col-1">col-1</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 6;  i++ ) { %>
            <div class="col col-2">col-2</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 4;  i++ ) { %>
            <div class="col col-3">col-3</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 3;  i++ ) { %>
            <div class="col col-4">col-4</div>
        <% } %>
    </div>
    <div class="cols">
        <% for (var i = 1; i <= 2;  i++ ) { %>
            <div class="col col-6">col-6</div>
        <% } %>
    </div>
</div>
</body>
