@use "sass:map";

@use "./variables" as *;
@use "./mixins" as *;

.container,
.row,
.col {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding-right: calc(#{$padding} / 2);
	padding-left: calc(#{$padding} / 2);

	@media only screen and (min-width: map.get($breakpoints, "tablet")) {
		padding-right: $padding;
		padding-left: $padding;
	}

	@media only screen and (min-width: map.get($breakpoints, "desktop-big")) {
		padding-right: calc(#{$padding} * 2);
		padding-left: calc(#{$padding} * 2);
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex-grow: 1;
	padding-right: calc(#{$padding} / 2);
	padding-left: calc(#{$padding} / 2);

	@media only screen and (min-width: map.get($breakpoints, "tablet")) {
		padding-right: $padding;
		padding-left: $padding;
	}

	@media only screen and (min-width: map.get($breakpoints, "desktop-big")) {
		padding-right: calc(#{$padding} * 2);
		padding-left: calc(#{$padding} * 2);
	}
}
