// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

// Reset
@import "base/reset";

// Variables, Mixins
@import "abstracts/variables";
@import "abstracts/mixins";

// Typography
@import "base/typography";

// Components

// Basic common styles
body {
	padding: 30px 0;
	background-color: $col-background;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

h1 {
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: bold;
}

h2 {
	margin-bottom: 2rem;
	font-size: 2rem;
}
